.projectsContainer {
    width: 100%;
    padding: 6vh 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: var(--logo-transition);
    border: 1px dashed var(--bg-sec-color);
    font-family: var(--font-family-h1);
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.25;
}

.projectsMainTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-h1);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: -0.06em;
    word-spacing: 0.1em;
    color: var(--primary-color);
}

.projectsMainDesc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font-family-p);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    line-height: 1.25;
    text-align: justify;
    text-align-last: center;
    word-spacing: 0.1em;
    color: var(--text-body-color);
}
